.carousels{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;    

    @media (max-width: $mobile) {
        flex-wrap: wrap;
    }
}
.carousel {
    width: 45%;

    &--last{
        width: 55%;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }
}
.carousel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__subtitle {
        font: 500 1.125rem/1.5rem $font;
    }

    &__btn-container {        
        display: flex;
        justify-content: space-between;
        width: 64px;
        gap: 2px;
    }

    &__prev, &__next {
        border: 1px solid gray;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}
.carousel-items { 
    position: relative;

    &__indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }

    &__indicator {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

        &--active{
            opacity: 1;
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;

        &--active {
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 328px;

        @media (max-width: $mobile) {
            height: 192px;
        }
    }

    &__caption { 
        display: block;
        position: absolute;
        bottom: 30px;
        left: 5%;
        padding: 12px 0;
        color: #FFF;
    }

    &__item-date { 
        font: 700 0.875rem/0.875rem $font;
        margin: 5px 0;
    }

    &__item-title { 
        font: 700 1.125rem/1.125rem $font;
        margin: 10px 0;
    }
}