.header {
    display: flex;    
    align-items: center;
    justify-content: space-between;

    &__title {
        margin: 10px 0;
        font: 700 2rem/1rem $font;
        color: #FB3132;        
    }

    &__see-more {
        background-color: #FB3132;        
        width: 150px;
        height: 40px;
        border-radius: 8px;
        color: #FFF;
        text-align: center;
        font: 700 1rem/1rem $font;
        line-height: 40px;

        &--mobile {
            display: inline-block;
            width: 100%;
        }
    }
}